# .github/workflows/build-on-push.yml
name: Build and Test on Push

on:
  push:
    branches:
      - "**"   # run on any branch
  workflow_dispatch:  # allow manual trigger

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      DOCKER_BUILDKIT: "1"
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.1'
      
      - name: Verify Docker
        run: |
          docker --version
          docker info
      
      - name: Build
        run: ./cli-build.sh
      
      - name: Simple test
        run: ./sanity-test.sh
      
      - name: Go Unit tests
        run: cd tests/unit && ./run-go-unit-tests.sh
      
      - name: Go Integration tests
        run: cd tests/unit && ./run-go-integration-tests.sh
      
      - name: Basic tests
        run: cd tests/basic && ./run-basic-tests.sh
      
      - name: DryRun tests
        run: cd tests/dryrun && ./run-dryrun-tests.sh
      
      - name: WorkSpace Env
        run: cd tests/workspace-env && ./run-test.sh
